
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

@use 'styles/reboot.scss';
@use 'styles/tailwind';

html {
    color-scheme: light dark;
    @include mat.theme((color: (primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: Roboto,
            density: 0,
        ));

    .nav-active-link {
        background: var(--mat-sys-secondary-container);
        // color: var(--my-nav-hover-color);
    }
    
    .error-snackbar {
        @include mat.snack-bar-overrides((
            container-color: var(--mat-sys-on-error-container),
            supporting-text-color: var(--mat-sys-on-error)
        ));
    }

    .custom-mat-table {
        @include mat.table-overrides((
            background-color: var(--mat-sys-surface-container-low)
        ));

        @include mat.paginator-overrides((
            container-background-color: var(--mat-sys-surface-container-low),
        ));
    }

    // .button-lg {
    //     @include mat.button-overrides((
    //         tonal-label-text-size: 20px,
    //         tonal-container-height: 56px,
    //         tonal-container-shape: 4px
    //     ));
    // }
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

